@use '../../App.scss' as v;

.navbar {
  color: white;
  font-size: 14px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);
  transition: background-color 0.3s;

  &.scrolled {
    background-color: var(--main-color);
  }

  .burger-btn {
    @media screen and (min-width: v.$tablet-size) {
      display: none;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3px;
    .burger-btn__line {
      border-radius: 10px;
      background-color: white;
      width: 30px;
      height: 1px;
      border: 1px solid white;
    }
  }

  span {
    text-transform: uppercase;
    font-weight: 900;
    margin: 0 10px;
    cursor: pointer;

    .navlink {
      color: white;
      text-decoration: none;
      transition: color 0.3s;
      &.active,
      &:hover {
        color: v.$elite-gold;
      }
    }
  }

  .container {
    display: flex;
    padding: 0 50px;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    flex-direction: row;

    .left {
      display: flex;
      align-items: center;
      img {
        height: 50px;
      }
      .navlinks {
        @media screen and (max-width: v.$tablet-size) {
          visibility: hidden;
          opacity: 0;
          display: flex;
          width: 100%;
          flex-direction: column;
          font-size: 2rem;
          -webkit-box-shadow: 0px 23px 19px 0px v.$elite-gold;
          box-shadow: 0px 23px 19px 0px v.$elite-gold;
          padding-bottom: 20px;
          background-color: none;
          transition: opacity 0.2s;

          &.mobile {
            opacity: 1;
            visibility: visible;
            background-color: var(--main-color);
            display: flex;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 25%);
          }
        }
      }
    }

    .right {
      display: flex;
      align-items: center;

      .options {
        display: none;
      }

      &:hover {
        .options {
          display: flex;
          flex-direction: column;
          position: absolute;
          top: 75%;
        }
      }
    }
  }
}
