.media-list {
  margin-top: 50px;
  display: flex;
  // items wrap in a container
  flex-wrap: wrap;
  // align items along x-axis
  align-items: center;
  flex-direction: row;
  // align items along y-axis
  justify-content: center;
}
