@use '../../App' as v;

.media-list {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 30px;
  row-gap: 15px;
  justify-items: center;
  @media screen and (max-width: v.$laptop-size) {
    & {
      grid-template-columns: auto auto;
    }
  }
  @media screen and (max-width: v.$phone-size) {
    & {
      grid-template-columns: auto;
    }
  }
}
