$elite-gold: #d6bc6d;

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

// root selects the root element and applies styles
:root {
  --main-color: #0b0b0b;
  background-color: var(--main-color);
}
